<h1> <%= @family.name %> </h1>
<h4>Information</h4>
<p>
  This family was started by <%= @family.patriarch %> and <%= @family.matriarch %> 
  on <%= @family.anniversaty %> in <%= @family.city %>, <%= @family.state %><br/>
  <br/>
