<div class="member-card<%= defined?(spouse) ? " spouse" : "" %>" >
	<%= link_to member do %>
		<%= render partial: "members/avatar", object: member, as: 'member' %>
		<%= member.goes_by %><br/>
		<%= member.age %>
	<% end %>
</div>