<h1>New Family Member Form</h1>

<% if @member.errors %>
  <div class="errors">
    <%= @member.errors.full_messages.to_sentence %>
  </div>
<% end %>

<%= form_for @member, url: "/members" do |f| %>
  <formfield>
    <%= f.label :family_ids %><br/>
    <%= f.collection_check_boxes :family_ids, Family.all, :id, :surname do |check| %>
    <%= check.check_box %><%= check.label %><br/>
    <% end %>
    <%= link_to "Add a new family", new_family_path %><br/>
    <%= f.label :first_name %><br/>
    <%= f.text_field :first_name %><br/>
    <%= f.label :mid_name %><br/>
    <%= f.text_field :mid_name %><br/>
    <%= f.label :last_name %><br/>
    <%= f.text_field :last_name %><br/>
    <%= f.label :aka %><br/>
    <%= f.text_field :aka %><br/>
    <%= f.label :birthdate %><br/>
    <%= f.date_field :birthdate %><br/>
    Emails:
    <ul>
      <%= f.fields_for :emails do |email_f| %>
        <li>
          <% email_f.label :email %>
          <%= email_f.text_field :email %>

          <%= email_f.label :kind %>
          <% email_kinds = ["Personal", "Work", "Primary"] %>
          <%= email_f.select(:kind) do %>
            <% email_kinds.each do |i|  %>
              <%= content_tag(:option, i, value: i) %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </formfield>
  <formfield>
    <%= f.submit "Add Family Member" %>
  </formfield>
<% end %>
