<div class="member" > 
	<div class="member-show">
		<%= render partial: "members/avatar", object: @member, as: 'member' %>
	<h1> <%= @member.goes_by+" "+@member.last_name %> </h1>
	<p>
		Full  Name <br/>
		<%= @member.full_name %>
	</p>
	<p>
		Born On <br/>
		<%= @member.birth_date.strftime("%A, %B #{@member.birth_date.day}, %Y") %><br/>
	</p>
	<p>
		<% if !!@member.mother && !!@member.father %>
			Parents <br/>
			<%= "#{@member.father.first_name} and #{@member.mother.first_name}" %>
		<% end %>
	</p>
	</div>
	<div class="overview">
		<% if !!@member.mother && !!@member.father %>
			<%= render partial: "branch", object: @member.father, as: 'member' %>
		<% else %>
			<%= render partial: "branch", object:  @member, as: 'member' %>
		<% end %>
	</div>
</div>